.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.color {
  border: 6px solid yellow;
  margin: 2rem;
  border-radius: 4px;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-top: 1rem;
}

.scoreboard {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

span {
  font-size: 5rem;
}

h4 {
  text-align: center;
}
